<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="®IFDAB">
        <title>neoOntology - File types</title>
    </head>
    <header>
        <h1>neoOntology</h1>
        <a href="/">Home</a>
        <a href="/view/files">Files</a>
        <a href="/view/ontologies">Ontologies</a>
        <hr>
    </header>
    <body>
        <h1>File types</h1>
        <hr>
        <% result.forEach(function(value){ %>
            <!--Link to files of file type view-->
            <h2><a href="/view/files/<%=value%>"><%=value%></a></h2>
        <% }); %>
        <hr>
    </body>
    <footer>®2019 neoOntology</footer>
    <script>src="neoOntology.js"</script>
</html>