<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="®IFDAB">
        <title>neoOntology</title>
    </head>
    <header>
        <h1>neoOntology</h1>
        <a href="/">Home</a>
        <a href="/view/files">Files</a>
        <a href="/view/ontologies">Ontologies</a>
        <hr>
    </header>
    <body>
        <h1>Home</h1>
        <hr>
        <!--Link to file types view-->
        <h2><a href="/view/files">Files</a></h2>
        <hr>
        <!--Link to ontologies view-->
        <h2><a href="/view/ontologies">Ontologies</a></h2>
        <hr>
    </body>
    <footer>®2019 neoOntology</footer>
</html>