<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body>
<h1>neoOntology</h1>
<h2><a href="/view/files">Files</a></h2>
<h2><a href="/view/ontologies">Ontologies</a></h2>
<script>src="neoOntology.js"</script>
</body>
</html>